# Node dependencies
/node_modules/

# VitePress build output and cache
/docs/.vitepress/dist/
/docs/.vitepress/cache/

# Editor and OS specific
.DS_Store
.vscode/
.idea/
.cursor/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log* .obsidian/
